/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #000028;
  --main-font: 'IBM Plex Mono';
  --highlight-color: #ff0070;
  --main-title-color: #db00ff;
  --title-shadow: #ff0070;
  --rec-color: #ff0070;
  --btn-color: #ff0070;
  --border-color: #ff0070;
  --opacity: 1;
  --focus-color: #f1b2ce;
  --hover-color: rgba(255, 0, 112, 0.40);
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  
  .page {
    background-image: url(../images/cover-image-dark.png);
  }
  
  :root {
    --bg-color: #000028;
    --text-color: #f1b2ce;
    --title-color: #000028;
    --main-font: 'IBM Plex Mono';
    --highlight-color: #ff0070;
    --main-title-color: #db00ff;
    --title-shadow: #ff0070;
    --rec-color: #ff0070;
    --btn-color: #ff0070;
    --border-color: #ff0070;
    --opacity: 1;
    --focus-color: #f1b2ce;
    --hover-color: rgba(255, 0, 112, 0.40);
  }
}
